@import "../../../variables";

.header-top{
    padding: 10px 0;

    .header-mini-link {
        display: flex;
        align-items: center;
        color:#000;
        transition: .4s;

        &:not(:last-child){
            margin-right: 20px;
        }

        &:hover{
            color: $main;

            svg{
                fill: $main;
            }
        }

        svg{
            height: 20px;
            width: 20px;
            margin-right: 10px;
            transition: .4s;
        }
    }

    .lang-switcher{
        margin-right: 25px;

        a{
            color: $dark;
            padding: 0 20px 0 0;
            transition: .4s;

            &.active{
                color: $main;
            }

            &:hover{
                color: #000;
            }
        }
    }
}