.header-top{
    padding: 10px 0;

    .phone {
        display: flex;
        align-items: center;
        color:#000;

        svg{
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
    }
}