@import "../../../Assets/Style/Variables";
@import "../../../Assets/Style/Mixins";

.header-bottom {
  padding: 15px 0;
  background-color: #fff;
  z-index: 2;
  
  &.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 4%);
  }

  .logo-parent {
    .logo {
      svg {
        width: 200px;
      }
    }

    @include tablet-landscape-down {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .navbar-nav {
    a {
      color: #041624;
      font-size: 16px;
      margin-left: 20px;
      text-transform: uppercase;
      font-weight: 500;
      position: relative;
      cursor: pointer;

      &::after{
        content: '';
        position: absolute;
        left:50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 2px;
        width: 0%;
        background-color: $main;
        transition: .4s;
        border-radius: 3px;
      }

      &.active{
        &::after{
          width: 100%;
        }
      }

      @include desktop-down{
        font-size: 14px;
      }
    }

    @include tablet-landscape-down {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      background: #fff;
      flex-direction: column;
      // display: flex;
      display: none;
    }
  }

  .hamburger-menu-btn{
    background-color: transparent;
    display: flex;
    border: 0;

    svg{
      height: 35px;
      width: 35px;
    }

    &.active{
      #dashTop {
        transform: translateY(16.75%) translateX(-16.9%) rotate(45deg);
      }
  
      #dashBottom {
        transform: translateY(16.75%) translateX(16.9%) rotate(135deg);
      }
  
      #dashMiddle {
        transform: rotate(135deg);
        opacity: 0;
      }
    }

    @include tablet-landscape-up {
      display: none;
    }
  }
}
