// COLORS
$main: #0aa6ed;
$main_hover: #107bad;

$brown: #e48440;
$brown_hover: #b15f24;

$dark: #4b4b4b;

// grid/container
$large-container-size: 1170px;
$medium-container-size: 970px;
$small-container-size: 750px;

//sizes
$xxs: 4px;
$xs: 8px;
$s: 16px;
$m: 24px;
$l: 32px;
$xl: 48px;
$xxl: 64px;