.main-section{
    background-image: url('../../../public/assets/background/4380.webp');
    min-height: 500px;
    width: 100%;
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
}