@import "../../Assets/Style/Variables";
@import "../../Assets/Style/Mixins";

.main-section{

    .content-side{
        h1{
            margin-bottom: 20px;
            color: $main;
            font-size: 36px;
            font-weight: 500;

            @include tablet-landscape-down {
                font-size: 29px;
                line-height: 1.2;
                margin-bottom: 10px;
            }

            @include phone-only {
                font-size: 24px;
            }
        }

        p {
            margin-bottom: 20px;
            font-size: 20px;

            @include tablet-landscape-down {
                font-size: 18px;
            }

            @include phone-only {
                font-size: 16px;
            }
        }
    }

    .image-side{
        background-image: url('../../Assets/Img/Background/4380.webp');
        min-height: 500px;
        background-position: right;
        background-size: 100%;
        background-repeat: no-repeat;

        @include tablet-landscape-down {
            background-position: top;
            margin-top: 20px;
        }
    }
}