@import "../../Assets/Style/Variables";

.main-section{

    .content-side{
        h1{
            margin-bottom: 20px;
            color: $main;
            font-size: 36px;
            font-weight: 500;
        }

        p {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }

    .image-side{
        background-image: url('../../Assets/Img/Background/4380.webp');
        min-height: 500px;
        background-position: right;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}